body.dark  {
    
    background: #202020;
}



.dark .list {
    
    background: #00333dbd;
    color: rgb(23, 150, 55);
    animation: spin 4s linear infinite alternate;
    
}

@keyframes spin {
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0 0 10px;
    }
    75%{
        box-shadow: 0 0 15px
    }
    100%{
        box-shadow: 0 0 20px;
    }
}

.dark .list h1 {
   
    text-shadow: 0 0 10px;
}





.dark input::placeholder {
    color: #7f7f7f;
    
}

.dark .two input {
    
    color: #fff;
    
    background: #121212;
    
    border: none;
}



.dark .add button {
    color: #e8e8e8;
   
    background: #373737;
   
    border: none;
}

.dark .add button:hover {
    background: #666;
}


.dark .nomber {
    background: #043c3e;
    color: #fff;
    ;
}

.dark .nomber h2 {
   
    text-shadow: 1px -1px red,
    2px -2px blue;
}

.dark #check{
    background: rgb(24, 187, 65);
    border-color: #082e35;
}

.dark #check::before{
    left: 14px;
}
